__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.json
*.sqlite
*.swp
*.bak
*.tmp
*.egg-info/
dist/
build/
.idea/
.vscode/
*.iml
*.pyproj
*.suo
*.user
*.sln
*.vagrant
*.vbox
*.vbox-prev
*.vdi
*.vmdk
*.vmem
*.vmwarevm
*.vmx
*.vmxf
*.vmsd
*.vmware
*.vmx.lck
*.vmx~
*.vmxf~
*.vmsd~
*.vmware~
*.vmx.lck~
*.vmx~.lck
*.vmxf~.lck
*.vmsd~.lck
*.vmware~.lck
*.vmx.lck~.lck
*.vmx~.lck~.lck
*.vmxf~.lck~.lck
*.vmsd~.lck~.lck
*.vmware~.lck~.lck
*.vmx.lck~.lck~.lck
*.vmx~.lck~.lck~.lck
*.vmxf~.lck~.lck~.lck
*.vmsd~.lck~.lck~.lck
*.vmware~.lck~.lck~.lck
*.vmx.lck~.lck~.lck~.lck
*.vmx~.lck~.lck~.lck~.lck
*.vmxf~.lck~.lck~.lck~.lck
*.vmsd~.lck~.lck~.lck~.lck
*.vmware~.lck~.lck~.lck~.lck
*.vmx.lck~.lck~.lck~.lck~.lck
*.vmx~.lck~.lck~.lck~.lck~.lck
*.vmxf~.lck~.lck~.lck~.lck~.lck
*.vmsd~.lck~.lck~.lck~.lck~.lck
*.vmware~.lck~.lck~.lck~.lck~.lck
*.vmx.lck~.lck~.lck~.lck~.lck~.lck
*.vmx~.lck~.lck~.lck~.lck~.lck~.lck
*.vmxf~.lck~.lck~.lck~.lck~.lck~.lck
*.vmsd~.lck~.lck~.lck~.lck~.lck~.lck
*.vmware~.lck~.lck~.lck~.lck~.lck~.lck
*.vmx.lck~.lck~.lck~.lck~.lck~.lck~.lck
*.vmx~.lck~.lck~.lck~.lck~.lck~.lck~.lck
*.vmxf~.lck~.lck~.lck~.lck~.lck~.lck~.lck
*.vmsd~.lck~.lck~.lck~.lck~.lck~.lck~.lck
*.vmware~.lck~.lck~.lck~.lck~.lck~.lck~.lck
*.vmx.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck
*.vmx~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck
*.vmxf~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck
*.vmsd~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck
*.vmware~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck
*.vmx.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck
*.vmx~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck
*.vmxf~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck
*.vmsd~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck
*.vmware~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck
*.vmx.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck
*.vmx~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck
*.vmxf~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck
*.vmsd~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck
*.vmware~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck
*.vmx.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck
*.vmx~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck
*.vmxf~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck
*.vmsd~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck
*.vmware~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck
*.vmx.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck
*.vmx~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck
*.vmxf~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck
*.vmsd~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck
*.vmware~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck
*.vmx.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck~.lck
*.vmx~.lck~.lck~.lck~.lck